<form>
  <h2>BEM-VINDO</h2>
  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>nickname</mat-label>
      <input
        matInput
        [(ngModel)]="nickName"
        name="nickname"
        type="text"
        placeholder="Ex.: @sanguelaranja"
      />
    </mat-form-field>
    <br />
    <!-- <mat-form-field appearance="outline">
      <mat-label>senha</mat-label>
      <input matInput name="senha" type="text" placeholder="Ex.: 1234" />
    </mat-form-field> -->
  </div>
  <div class="btn-group">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-stroked-button [disabled]="nickName.length <= 2" (click)="login()">Entrar</button>
  </div>
</form>
