<form>
  <h2>Criar Atividade</h2>
  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Nome da atividade</mat-label>
      <input
        matInput
        [(ngModel)]="name"
        name="name"
        type="text"
        placeholder="Ex.: God of Code V"
        autocomplete="off"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>N° Jogadores/Partida</mat-label>
      <input
        matInput
        [(ngModel)]="numberPlayers"
        name="numberPlayers"
        type="number"
        autocomplete="off"
      />
    </mat-form-field>
  </div>
  <div class="btn-group">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-stroked-button [disabled]="name.length <= 2" (click)="save()" >{{mode == 'create' ? 'Criar' : 'Atualizar'}}</button>
  </div>
</form>
