$orange: #fc6027;
$ice: #e5e5e5;
$purple: #4b4fa1;

* {
  margin: 0;
  padding: 0;
}
form {
  width: 280px;
  padding: 16px;

  mat-form-field {
    margin: 0px;
    border-radius: 0px !important;
    width: 280px;
  }
}
h2 {
  text-align: center;
  color: $orange;
}
.btn-group {
  float: right;
  margin: 0;
  color: $orange;

  button {
    margin: 0px 0px 0px 8px;
    padding: 0px 32px;
  }

  .mat-stroked-button {
    border: 1px solid $orange;
    border-radius: 0px;
  }
}
@media screen and (max-width: 414px){
  form {
    width: 240px;
    padding: 8px;
  }
  mat-form-field{
    align-self: center;
    max-width: 240px;
  }
}
