$orange: #fc6027;
$ice: #e5e5e5;
$purple: #4b4fa1;

body {
  background-color: $purple;
}
#container {
  height: 100%;
  width: 100%;
  background-color: $purple;
}

header {
  padding: 16px;
  background-color: $purple;
  height: 80px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;

  img {
    width: 200px;
  }
}
.mat-raised-button {
  background-color: $orange;
  color: $ice;
  margin: 0 8px;
}
.mat-button {
  color: $orange;
}

main {
  font-size: 16px;
  overflow: auto;
  padding: 16px 0;
  background-color: $purple;
}
.container-queue {
  margin: 16px 32px;
  padding: 8px;
  background-color: $ice;
  border-radius: 16px;
}
.queue-btn {
  margin: 8px;
  display: flex;
  justify-content: flex-end;
}

.row-header {
 
  h1 {
    margin: 8px;
    font-weight: bold;
    color: $orange;
  }

  h3 {
    color: $purple;
    margin: 8px;
  }
}

.my-card {
  box-shadow: 0px 0px 16px 0px rgba(252,96,39,0.99);
}

.container-queue-cards {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
  
}
mat-card {
  margin: 16px;
  min-height: 150px;
  min-width: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: $purple;
  transition: transform .1s;
 
}
mat-card:hover{
  transform: scale(1.03);
}
.avatar-gamer {
  margin: 0 auto;
  height: 80px;
  width: 80px;
  background: url("/assets/img/gamepad.png") no-repeat center;
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {
  header {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    nav {
      flex-direction: column;
      align-items: center;

      img {
        width: 100px;
      }
    }
  }
  .container-queue {
    margin: 8px;
    mat-card {
      margin: 8px;
    }
  }
  .queue-btn {
    flex-direction: column;
    text-align: center;
  }
}
