<main>
  <button (click)="logout()">Sair</button>
  <section class="container-queue">
    <div class="info-queue">
      <h1> Atividade </h1>
      <button mat-raised-button *ngIf="userIsQueue()" (click)="leaveQueue()">Sair na fila</button>
      <button mat-raised-button [disabled]="userIsQueue()" (click)="enterQueue()">Entrar na fila</button>
    </div>
    <div class="container-queue-cards">
      <mat-card *ngFor="let user of users; let i = index" >
        <div>
          <div class="avatar-gamer"></div>
          <div>
            <p>POSIÇÃO #{{i+1}}</p>
            <p>{{user.nickname}}</p>
            <p> #Jogando</p>
          </div>
         
        </div>
      </mat-card>
    </div>
  </section>
</main>
