<main>
  <section class="container-queue">

    <div class="info-queue">
      <h1> Atividade </h1>
      <button mat-raised-button (click)="getinQueue()">Entrar na fila</button>
    </div>
    <div class="container-queue-cards">

      <mat-card>
        <div>
          <div class="avatar-gamer"></div>
          <div>
            <span> #Jogando</span>
          </div>
          <button mat-raised-button>Sair na fila</button>
        </div>
    </mat-card>
    
    <mat-card>
      <div>
        <div class="avatar-gamer"></div>
        <div>
          <span> #Jogando</span>
        </div>
        <button mat-raised-button>Sair na fila</button>
      </div>
  </mat-card>
  
  <mat-card>
    <div>
      <div class="avatar-gamer"></div>
      <div>
        <span> #Jogando</span>
      </div>
      <button mat-raised-button>Sair na fila</button>
    </div>
</mat-card>

<mat-card>
  <div>
    <div class="avatar-gamer"></div>
    <div>
      <span> #Jogando</span>
    </div>
    <button mat-raised-button>Sair na fila</button>
  </div>
</mat-card>

    </div>
  </section>
</main>
