/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snack-bar-success {
  background-color: #d4edda !important;
  color: #155724 !important;
  .mat-simple-snackbar-action {
    color: #155724 !important;
  }
}

.snack-bar-danger {
  background-color: #f8d7da !important;
  color: #721c24 !important;
  .mat-simple-snackbar-action {
    color: #721c24 !important;
  }
}

.snack-bar-warning {
  background-color: #fff3cd !important;
  color: #856404 !important;
  .mat-simple-snackbar-action {
    color: #856404 !important;
  }
}
